@page
@model ShopWeb.Pages.Products.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="container col-6 text-center">
    <h1>@Model.Product.Name</h1>
    <h5>Confirm Delete?</h5>
    @{string Photopath = "~/Images/" + (Model.Product.Photopath ?? "bag.png");}
    <img src="@Photopath" class="rounded mx-auto d-block" style="width:200px;height:200px;" asp-append-version="true">
    <br /><br />
    <table class="table-bordered" align="center">
        <thead>
            <tr>
                <th class="table-primary col-md-4">Name</th>
                <td class="col-md-8">@Model.Product.Name</td>
            </tr>
            <tr>
                <th class="table-primary col-md-4">Product ID</th>
                <td class="col-md-8">@Model.Product.ProductID</td>
            </tr>
            <tr>
                <th class="table-primary col-md-4">Price</th>
                <td class="col-md-8">$@Model.Product.Price</td>
            </tr>
            <tr>
                <th class="table-primary col-md-4">Stock</th>
                <td class="col-md-8">@Model.Product.StockQuantity</td>
            </tr>
            <tr>
                <th class="table-primary col-md-4">Category</th>
                <td class="col-md-8">@Model.Product.CategoryID</td>
            </tr>
        </thead>
    </table>
    <br />
    <form method="post">
        <input type="hidden" asp-for="Product.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="/Index" class="btn btn-primary">Home</a>
    </form>
</div>
